/* Código HEX das cores usadas na imagem enviada pelo cliente:

Main colors:
- Azul claro: #2e8cc7
- Branco azulado: #eaf7ff (não é um branco absoluto, por isso achei necessário pegar o HEX dessa cor)

Auxiliar desing colors:
- Verde Whatsapp: #33cc33

Comentário do desenvolvedor: talvez seja necessário a adição de outras cores do mesmo espectro de cores 
no Main Colors, para um design um pouco mais rico
*/

body {
  margin: 0;
}

header {
  display: flex;
  justify-content: space-between;
  position: sticky;
  top: 0;
  z-index: 999;
  background-color: #2775db;
  height: 90px;
}

.name {
  margin-top: 18px;
  width: 550px;
  height: 50px;
}

.invisible {
  width: 130px;
}

.logotipo {
  border-radius: 100%;
}

.logo {
  border-radius: 100%;
  height: 70px;
  width: 70px;
  display: flex;
  justify-content: center;
  padding: 3px 2px 0.1px 1px;
  background-color: #2775db;
  transition-duration: 0.3s;
}

.logo:hover {
  background-color: rgb(165, 245, 245);
}

.main {
  background-color: #2e8cc7;
  background-image: url("./img/Post limpeza de estofado sofá a domicílio amarelo e azul (2).png");
  background-size: 800px;
  height: 600px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow-y: scroll;
}

.sofa-background {
  background-image: url("./img/Post limpeza de estofado sofá a domicílio amarelo e azul (6).png");
  background-size: 600px;
  height: 600px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.front-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 600px;
}

.upper-img {
  display: block;
  margin-right: auto;
  margin-left: auto;
  height: 300px;
}

.lower-img {
  display: block;
  margin-right: auto;
  margin-left: auto;
  height: 200px;
}

.main p {
  display: flex;
  justify-content: center;
}

.whatsapp-redirect {
  display: flex;
  justify-content: center;
  font: bold 15px Arial;
  text-decoration: none;
  background-color: #33cc33;
  color: white;
  padding: 15px;
  border: 1px #33cc33 solid;
  margin-left: auto;
  margin-right: auto;
  margin-top: 15px;
  margin-bottom: 15px;
  width: 200px;
  transition-duration: 0.3s;
  border-radius: 5%;
}

.whatsapp-redirect:hover {
  background-color: white;
  color: #33cc33;
  border: 1px darkgreen solid;
}

.whatsapp-icon {
  margin-top: 2px;
  margin-right: 3px;
}

.split #low-divisor {
  height: 300px;
  width: 100%;
  background-color: #2775db;
}

footer {
  background-color: #2775db;
  height: 160px;
}

footer p {
  margin-top: 0%;
  display: flex;
  justify-content: center;
  color: #eaf7ff;
  font-family: 'Brush Script MT', cursive;
}

footer a {
  display: flex;
  justify-content:right;
}

.footer-provocation {
  font-size: 30px;
  margin-bottom: 10px;
}

.email-submition {
  display: flex;
  justify-content: center;  
}

.email-box {
  border-radius: 25px;
  border-style: solid;
  border-color: #2e8cc7;
  width: 300px;
  height: 35px;
  font-size: 20px;
  transition-duration: 0.3s;
  background-color: rgb(212, 228, 241);
}

.email-box:hover {
  border-color: darkblue;
  border-style: solid;
  background-color: white;
}

.email-box:focus {
  outline: none;
}

::-webkit-input-placeholder {
  text-align: center;
}

:-moz-placeholder {
  text-align: center;
}

.divisor {
  padding: 5px
}

.submit-button {
  height: 35px;
  border-radius: 25px;
  border-style: solid;
  border-color: #2e8cc7;
  background-color: rgb(212, 228, 241);
  transition-duration: 0.3s;
  /* padding-left: 15px; */
}

.submit-button:hover {
  cursor: pointer;
  background-color: white;
  border-style: solid;
  border-color: darkblue;
}